<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Sample App</title>
    </head>
    <body>
        <h2>Add</h2>
		<form method="post" action="/new">
			<p>Content<input type="text" name="text" size="30" placeholder="Please input" ></p>
			<p>Status
				<select name="status">
					<option value="NotExecuted">NotExecuted</option>
					<option value="Executing">Executing</option>
					<option value="Done">Done</option>
				</select>
			</p>
			<p><input type="submit" value="Send"></p>
		</form>

		<ul>
			{{ range .todos }}
				<li>Content : {{ .Text }}, Status: {{ .Status }}
					<label><a href="/detail/{{.ID}}">Edit</a></label>
					<label><a href="/delete_check/{{.ID}}">Delete</a></label>
				<li>
			{{end}}
		</ul>

    </body>
</html>
